@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: var(--textColor);
}

/* Root colors */
:root {
  --bg: #FFFFFF;
  --softColor: #fbfbfbff;
  --darkColor: #EDEEEB;
  --textColor: #31393C;
  --primary: #3E96F4;
  --transBg: #ffffff7e;
}

.darkMode{
  --bg: #2d2d2d;
  --softColor: #363636;
  --darkColor: #1e1e1e;
  --textColor: #ededed;
  --primary: #3E96F4;
  --transBg: #3636367e;
}

body {
  background: var(--bg);
}
.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
  overflow: hidden;
}
.container {
  height: 100%;
  padding: 1rem 1rem 5rem;
  overflow: auto;
  scroll-behavior: smooth;
}
.container .h2{
  text-align: center;
}
.container .p{
  margin: 10px 0 5px;
}
.container .contents{
  margin: 1rem 0 0;
}

/* Login styles */
.login{
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.login form{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login form p{
  font-size: 0.85rem;
  color: red;
}
.login label{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.login input{
  padding: 5px 7px;
  border: 0;
  border-radius: 5px;
  background: var(--softColor);
  box-shadow: 0 0 1.5px 0.2px var(--primary);
}
.login button{
  width: max-content;
  padding: 0.25rem 1.4rem;
  border: 0;
  border-radius: 5px;
  background: var(--darkColor);
  box-shadow: 0 0 1.5px 0.2px var(--primary);
}

/* Loader animation */
.loaderContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.loader {
  width: calc(80px*0.707);
  height: calc(80px*0.707);
  background: var(--textColor);
  clip-path: polygon(0 0,50% 15%,100% 0,85% 50%,100% 100%,50% 85%,0 100%,15% 50%);
  -webkit-mask:
    radial-gradient(circle closest-side,#0000 92%,#000) top   /100% 33.4%,
    radial-gradient(circle closest-side,#0000 92%,#000) left  /33.4%  33.4%,
    radial-gradient(circle 5px         ,#0000 92%,#000) center/33.3%  33.3%,
    radial-gradient(circle closest-side,#0000 92%,#000) right /33.4%  33.4%,
    radial-gradient(circle closest-side,#0000 92%,#000) bottom/100% 33.4%;
  -webkit-mask-repeat: no-repeat;
  animation: l4 1.5s infinite linear;
}
@keyframes l4 { 
  100%{transform: rotate(1turn)}
}

/* Error container styles */
.errorContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.errorBox{
  text-align: center;
}
.errorBox button{
  margin: 5px 0 0;
  padding: 0.3rem 1rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background: var(--softColor);
}

/* Header styles */
header {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0.8rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  background: var(--darkColor);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  z-index: 5;
}
header .menuIcon {
  display: flex;
  align-items: center;
  font-size: 1.55rem;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo .logoIcon{
  text-align: center;
  width: max-content;
}
header .mode{
  display: flex;
  align-items: center;
}

/* Menu styles */
.menu{
  width: 0;
  max-width: 300px;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: var(--softColor);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: width 0.5s;
}
.menu .profile{
  width: 100%;
  padding: 1rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--darkColor);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.profile .closeMenu{
  width: 20px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 9px;
}
.profile .closeIcon{
  font-size: 1.4rem;
  opacity: 0.6;
}
.profile .profilePic{
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--primary);
  background-size: cover;
  background-position: center;
}
.profile .profileInfo{
  padding: 0.5rem 0;
  text-align: center;
}
.profileInfo p{
  white-space: nowrap;
}
.profileInfo span{
  white-space: nowrap;
  font-size: 0.85rem;
}
.profileInfo button{
  padding: 0.25rem 1.4rem;
  border: 0;
  border-radius: 5px;
  background: var(--softColor);
  box-shadow: 0 0 1.5px 0.2px var(--primary);
}
.menu .menus{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
}.menus .contents{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.menus .contents a{
  
}
.menus .visits{
  width: 100%;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 0.95rem;
}


/* Navbar styles */
nav {
  width: max-content;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  display: flex;
  gap: 5px;
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  background: var(--transBg);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 2px var(--primary);
  overflow: hidden;
}
nav li {
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
nav li a{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li .navIcon{
  width: 100%;
  font-size: 1.15rem;
  color: var(--textColor);
}
nav .navActive{
  background: var(--primary);
}

/* Announcements page styles */
.announceCards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.announceCard{
  border-radius: 10px;
  background: var(--softColor);
  box-shadow: 0 0 1px 1px var(--darkColor);
  overflow: hidden;
}
.announceCard .cardHead{
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darkColor);
}
.cardHead .cardAuthor{
  display: flex;
  align-items: center;
  gap: 5px;
}
.cardAuthor .authorImg{
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid  var(--primary);
  background: var(--primary);
  background-size: cover;
  background-position: center;
}
.cardAuthor .authorInfo{
  display: flex;
  flex-direction: column;
}
.cardAuthor p{
  font-size: 0.95rem;
}
.cardAuthor span{
  font-size: 0.7rem;
}
.cardHead .date p{
  font-size: 0.8rem;
  text-align: right;
}
.announceCard .cardBody{
  padding: 0.5rem 1rem;
}
.cardBody pre{
  white-space: pre-wrap;
  word-wrap: break-word;
}
.cardBody .cardImage{
  width: 100%;
  height: 180px;
  margin: 5px 0 10px;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cardBody .actions{
  padding: 0.5rem;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
  border: 1.5px solid var(--darkColor);
  border-radius: 5px;
}

/* Websites page styles */
.tableContents{
  margin: 0.5rem 0;
}
.tableContents li{
  margin: 0.5rem 2rem;
}
.tableContents a:hover{
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.websites{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.websites .website{
  width: 100%;
}
.website h3{
  padding: 0.5rem 0;
}
.website .webImage{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.website .webLink{
  margin:  0.5rem 0;
  text-align: center;
}
.webLink a{
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.webInfo div{
  margin: 0.5rem 0 0;
  display: flex;
  gap: 10px;
}


/* About page styles */
.about {
  padding: 0 0 5rem;
  scroll-behavior: smooth;
}
.about h2{
  font-weight: 600;
  text-align: center;
}
.about .communityInfo{
  padding: 1rem;
}
.communityInfo .imageCover{
  width: 100%;
  aspect-ratio: 1/0.3;
  max-height: 150px;
  background: var(--darkColor);
}
.communityInfo .description{
  margin: 8px 0;
}
.description p span{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary);
}
.communityInfo .fbGroup{
  margin: 0.5rem 0;
}
.fbGroup p{
  padding: 0.5rem 0 0;
}
.fbGroup span{
  font-weight: 600;
}
.fbGroup div{
  margin: 0.5rem 0;
}
.fbGroup div p{
  font-weight: 600;
  padding: 0;
}
.fbGroup ul{
  padding: 0 2rem;
}
.about .management{
  padding: 2rem;
  border-radius: 15px;
  background: var(--darkColor);
}
.about .stats{
  padding: 3rem 2rem 2rem;
}
.about .stats p{
  text-align: center;
  padding: 0.2rem 0;
}
.management .admins, .stats .contributors{
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 0.7rem;
}
.admins .admin, .contributors .contributor{
  padding: 0.8rem;
  border-radius: 5px;
  background: var(--softColor);
}
.contributors .contributor{
  background: var(--darkColor);
}
.admin .userImg, .contributor .userImg{
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--darkColor);
  border-radius: 5px;
}
.contributor .userImg{
  border: 1px solid var(--softColor);
}
.admin .info, .contributor .info{
  text-align: center;
}
.admin .info span, .contributor .info span{
  font-size: 0.9rem;
}

@media screen and (min-width: 900px) {
  .container{
    padding: 2.5% 20%;
  }
}