@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: var(--textColor);
}

/* Root colors */
:root {
  --bg: #FFFFFF;
  --softColor: #fbfbfbff;
  --darkColor: #EDEEEB;
  --textColor: #31393C;
  --primary: #3E96F4;
  --transBg: #ffffff7e;
  --dtableDivide: #c0c0c0;
  --dtableText: #ededed;
  --black: #202020;
  --fff: #ededed;
}

.darkMode{
  --bg: #2d2d2d;
  --softColor: #363636;
  --darkColor: #1c1c1c;
  --textColor: #ededed;
  --primary: #3E96F4;
  --transBg: #3636367e;
}

.popupBox{
  width: 15rem;
  height: 0;
  border-radius: 5px;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--darkColor);
  overflow: hidden;
  transition: 0.6s;
}
.popupBox .boxContents{
  padding: 1rem;
  position: relative;
}
.popupBox .close{
  width: 28px;
  font-size: 1.2rem;
  padding: 2px;
  display: flex;
  justify-content: center;
  color: var(--textColor);
  position: absolute;
  top: 0;
  right: 0;
}

body {
  background: var(--bg);
}
.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  overflow: hidden;
}
.container {
  height: 100%;
  padding: 1rem 1rem 5rem;
  scroll-behavior: smooth;
  overflow: auto;
}
.container .h2{
  text-align: center;
}
.container .p{
  margin: 10px 0 5px;
}
.container .contents{
  width: 100%;
  margin: 1rem 0 0;
}


/* Login styles */
.login{
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.login form{
  width: 85%;
  max-width: 350px;
  height: max-content;
  padding: 1.5rem 1.7rem;
  border: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: var(--darkColor);
  box-shadow: 0 0 2px var(--primary);
}
.login form p{
  font-size: 0.85rem;
  color: red;
}
.login label{
  width: 100%;
  text-align: left;
}
.login input{
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  background: var(--softColor);
  box-shadow: 0 0 1.5px 0.2px rgba(0,0,0,0.2);
}
.login .remember{
  width: 100%;
  display: flex;
  gap: 5px;
}
.login .remember input{
  width: 18px;
  border: 0;
  box-shadow: none;
}
.login button{
  width: 100%;
  padding: 0.45rem;
  margin: 0.35rem 0;
  border: 0;
  border-radius: 5px;
  background: var(--primary);
  box-shadow: 0 0 1.5px 0.2px var(--primary);
}
.login .option p{
  font-size: 0.95rem;
  color: var(--textColor);
}
.login .option a{
  font-size: 0.9rem;
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

/* Loader animation */
.loaderContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.loader {
  width: calc(80px*0.707);
  height: calc(80px*0.707);
  background: var(--textColor);
  clip-path: polygon(0 0,50% 15%,100% 0,85% 50%,100% 100%,50% 85%,0 100%,15% 50%);
  -webkit-mask:
    radial-gradient(circle closest-side,#0000 92%,#000) top   /100% 33.4%,
    radial-gradient(circle closest-side,#0000 92%,#000) left  /33.4%  33.4%,
    radial-gradient(circle 5px         ,#0000 92%,#000) center/33.3%  33.3%,
    radial-gradient(circle closest-side,#0000 92%,#000) right /33.4%  33.4%,
    radial-gradient(circle closest-side,#0000 92%,#000) bottom/100% 33.4%;
  -webkit-mask-repeat: no-repeat;
  animation: l4 1.5s infinite linear;
}
@keyframes l4 { 
  100%{transform: rotate(1turn)}
}

/* Error container styles */
.errorContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.errorBox{
  text-align: center;
}
.errorBox button{
  margin: 5px 0 0;
  padding: 0.3rem 1rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background: var(--softColor);
}

/* Header styles */
header {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0.8rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  background: var(--darkColor);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
  z-index: 5;
}
header .menuIcon {
  display: flex;
  align-items: center;
  font-size: 1.55rem;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo .logoIcon{
  text-align: center;
  width: max-content;
}
header .mode{
  display: flex;
  align-items: center;
}

/* Menu styles */
.menu{
  width: 0;
  max-width: 310px;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: var(--softColor);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: width 0.5s;
}
.menu .profile{
  width: 100%;
  padding: 1rem 0.4rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  place-items: center;
  position: relative;
  background: var(--darkColor);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.profile .closeMenu{
  width: 20px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 9px;
}
.profile .closeIcon{
  font-size: 1.4rem;
  opacity: 0.6;
}
.profile .profilePic{
  width: 55px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--primary);
  background-size: cover;
  background-position: center;
}
.profile .profileInfo{
  padding: 0.5rem 0;
  text-align: center;
}
.profileInfo p{
  white-space: nowrap;
}
.profileInfo span{
  white-space: nowrap;
  font-size: 0.85rem;
}
.profileInfo button{
  padding: 0.25rem 1.4rem;
  border: 0;
  border-radius: 5px;
  background: var(--softColor);
  box-shadow: 0 0 1.5px 0.2px var(--primary);
}
.menu .menus{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
}
.menus .contents{
  width: 100%;
}
.menus .contents p{
  padding: 1rem 0 0;
  text-align: center;
}
.contents li{
  width: 100%;
  height: max-content;
  border-bottom: 1px solid var(--darkColor);
  list-style: none;
}
.contents li a{
  white-space: nowrap;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contents li .plusIcon{
  color: var(--textColor);
}
.menuFooter{
  width: 100%;
  padding: 1rem 0.7rem;
  text-align: center;
  font-size: 0.95rem;
}
.menuFooter .visits{
  padding: 0 0 0.5rem;
}
.menuFooter .logoutBtn{
  width: 100%;
  padding: 0.3rem;
  border: 0;
  border-radius: 5px;
  font-size: 0.9rem;
  background: #ff6c6c;
  box-shadow: 0 0 2px var(--primary);
}
.menuFooter .credits{
  padding: 0.2rem 0 0.5rem;
  font-size: 0.5rem;
}

/* Navbar styles */
.navbar nav {
  width: max-content;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  display: flex;
  gap: 5px;
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  background: var(--transBg);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 2px var(--primary);
  overflow: hidden;
}
.navbar nav li {
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar nav li a{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar nav li .navIcon{
  width: 100%;
  font-size: 1.15rem;
  color: var(--textColor);
}
.navbar nav .navActive{
  background: var(--primary);
}

/* Announcements page styles */
.announceCards{
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 1rem;
}
.announceCard{
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 10px;
  background: var(--softColor);
  box-shadow: 0 0 1px 1px var(--darkColor);
  overflow: hidden;
}
.announceCard .cardHead{
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darkColor);
}
.cardHead .cardAuthor{
  display: flex;
  align-items: center;
  gap: 5px;
}
.cardAuthor .authorImg{
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid  var(--primary);
  background: var(--primary);
  background-size: cover;
  background-position: center;
}
.cardAuthor .authorInfo{
  display: flex;
  flex-direction: column;
}
.cardAuthor p{
  font-size: 0.95rem;
}
.cardAuthor span{
  font-size: 0.7rem;
}
.cardHead .date p{
  font-size: 0.8rem;
  text-align: right;
}
.announceCard .cardBody{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  padding: 0.5rem 1rem;
}
.cardBody .announceId{
  height: 0;
  visibility: hidden;
}
.cardBody pre{
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.cardBody .cardImage{
  width: 100%;
  height: 180px;
  margin: 5px 0 10px;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cardBody .actions{
  padding: 0.5rem;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
  border: 1.5px solid var(--darkColor);
  border-radius: 5px;
}

/* Websites page styles */
.tableContents{
  margin: 0.5rem 0;
}
.tableContents .nodata{
  text-align: center;
}
.tableContents li{
  margin: 0.5rem 2rem;
}
.tableContents a:hover{
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.websites{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.websites .website{
  width: 100%;
}
.website h3{
  padding: 0.5rem 0;
}
.website .webImage{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.website .webLink{
  margin:  0.5rem 0;
  text-align: center;
}
.webLink a{
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.webInfo div{
  margin: 0.5rem 0 0;
  display: flex;
  gap: 10px;
}

/* API and Fb Bot page styles */
.apiList, .fbpageList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.8rem;
  padding: 1rem 0 0;
  overflow: auto;
}
.apiList .api, .fbpageList .fbpage{
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  background: var(--darkColor);
  box-shadow: 0 0 2px rgba(0,0,0,0.35);
}
.api .apiLogo, .fbpage .fbpageLogo{
  width: 45px;
  aspect-ratio: 1/1;
  border: 2px solid var(--primary);
  border-radius: 50%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--softColor);
  background-size: cover;
  background-position: center;
}
.api .apiInfo, .fbpage .fbpageInfo{
  overflow: hidden;
}
.apiInfo p, .fbpageInfo p{
  font-size: 1.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.apiInfo span, .fbpageInfo span{
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


/* About page styles */
.about {
  padding: 0;
  scroll-behavior: smooth;
}
.about h2{
  font-weight: 600;
  text-align: center;
}
.about .communityInfo{
  padding: 1rem;
}
.communityInfo .imageCover{
  width: 100%;
  aspect-ratio: 1/0.3;
  max-height: 150px;
  background: var(--darkColor);
}
.communityInfo .description{
  margin: 8px 0;
}
.description p span{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary);
}
.communityInfo .fbGroup{
  margin: 0.5rem 0;
}
.fbGroup p{
  padding: 0.5rem 0 0;
}
.fbGroup span{
  font-weight: 600;
}
.fbGroup div{
  margin: 0.5rem 0;
}
.fbGroup div p{
  font-weight: 600;
  padding: 0;
}
.fbGroup ul{
  padding: 0 2rem;
}
.about .management{
  margin: 2rem 0 0;
  padding: 2rem 2rem 5rem;
  border-radius: 15px;
  background: var(--darkColor);
}
.management .admins{
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-template-rows: max-content;
  gap: 0.7rem;
}
.admins .admin{
  padding: 0.8rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  background: var(--softColor);
}
.admin .userImg{
  width: 50px;
  aspect-ratio: 1/1;
  border: 1.5px solid var(--primary);
  border-radius: 5px;
}
.admin .info{
  text-align: left;
}
.admin .info p{
  font-size: 1rem;
}
.admin .info span{
  font-size: 0.9rem;
}


/* AddAnnounce styles */
.addAnnounce {
  width: 100%;
  padding: 10% 1rem 5rem;
  overflow-y: auto;
}
.addAnnounce h2{
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 0.5rem;
}
.addAnnounce form{
  max-width: 400px;
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: var(--darkColor);
  box-shadow: 0 0 2px var(--primary);
}
.addAnnounce label{
  margin: 0 0 0.6rem;
}
.addAnnounce input{
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  background: var(--softColor);
  box-shadow: 0 0 2px var(--primary);
}
.addAnnounce label textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background: var(--softColor);
}
.addAnnounce form button{
  font-size: 1rem;
  padding: 0.6rem;
  margin: 0.5rem 0 0;
  border: 0;
  border-radius: 5px;
  color: var(--textColor);
  background: var(--primary);
  box-shadow: 0 0 2px var(--primary);
}
.addAnnounce .err{
  font-size: 0.95rem;
  text-align: center;
  padding: 1rem 0;
  color: red;
}


/* Post styles */
.posts{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.posts h2{
  text-align: center;
}
.posts .post{
  width: 100%;
}
.post .postHeading{
  width: 100%;
  padding: 0 0 0.8rem;
  margin: 0 0 1rem;
  border-bottom: 1px solid var(--darkColor);
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.post .postContent{
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--darkColor);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 10px;
}
.postContent .postHeader{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: auto;
}
.postHeader .author{
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 7px;
}
.postHeader .author .img{
  width: 35px;
  aspect-ratio: 1/1;
  border: 2px solid var(--primary);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.postHeader .author .info{
  display: flex;
  flex-direction: column;
  gap: 0;
}
.postHeader .author .info span{
  font-size: 0.7rem;
}
.postHeader .postSettings .icon{
  font-size: 1.3rem;
}
.postContent .postBody{
  width: 100%;
}
.postBody pre{
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.postContent .postAction{
  width: 100%;
  border-radius: 10px;
  padding: 0.6rem;
  border: 1px solid var(--darkColor);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  overflow: hidden;
}
.postAction li{
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.postAction li .icon{
  font-size: 0.88rem;
}
.postAction li .linkIcon{
  font-size: 0.8rem;
}
.postAction .commentsBtn{
  border-right: 1px solid var(--darkColor);
  border-left: 1px solid var(--darkColor);
}
.post .postComments{
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  padding: 5px 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  border-top: 1px solid var(--darkColor);
  position: relative;
  overflow: auto;
}
.postComments .commentInput{
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 5px;
}
.postComments .imgInput, .postComments .send{
  width: 40px;
  height: 100%;
  border: 1px solid var(--darkColor);
  border-radius: 5px;
  color: var(--fff);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--darkColor);
}
.postComments .send{
  background: var(--primary);
}
.postComments .send .icon{
  color: #fff;
}
.postComments .commentInput input{
  width: 100%;
  padding: 0.55rem;
  border-radius: 5px;
  border: 1px solid var(--darkColor);
  background: var(--softColor);
}
.postComments .commentsHead{
  padding: 0 0 0.5rem;
}
.postComments .comments{
  width: 100%;
  padding: 0 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  position: relative;
}
.postComments .comments .comment{
  padding: 0.6rem;
  border: 1px solid var(--darkColor);
  border-radius: 10px;
}
.comments .noComments{
  margin: 2rem 0 0;
  text-align: center;
}
.comments .commentHead {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}
.commentHead .comAuthor{
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px;
}
.comment .comAuthor .info{
  display: flex;
  flex-direction: column;
}
.comment .comAuthor .info p{
  font-size: 0.85rem;
}
.comment .comAuthor .info span{
  font-size: 0.75rem;
}
.commentHead .comAuthor .img{
  width: 30px;
  aspect-ratio: 1/1;
  border: 1px solid var(--primary);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.comment .commentBody{
  padding: 0.35rem 0.4rem;
  font-size: 0.95rem;
}
.comment .commentAction{
  padding: 0 0.4rem;
  font-size: 0.9rem;
  display: flex;
  gap: 5px;
}
.comment .commentAction li{
  list-style: none;
}

/* Admin panel styles */
.adminPanel {
  box-shadow: 0 0 1px 1px var(--darkColor);
}

@media screen and (min-width: 600px) {
  .about .management{
    padding: 2rem;
  }
  .management .admins{
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .apiList, .fbpageList {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .apiList {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}

@media screen and (min-width: 900px) {
  .container{
    padding: 2.5% 20%;
  }
  .login{
    padding: 8% 0 1rem;
    padding: 8% 0 1rem;
  }
  .about .management{
    padding: 2rem;
  }
  .apiList {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}